<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ristoranti del cuore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let res of this.restaurants" (click)="goTo(res)" detail>
      <ion-label>
        <h2>{{res.name}} </h2>
        <h4>{{res.address}} </h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
